/*Media Queries!!*/

/*-----------1250px-------*/
@media screen and (max-width: 1250px) {
    .col-4 {
        margin-left: 10%;
    }
}

@media screen and (min-width: 1370px){
    .AutobildVermietung, .FahrradbildVermietung{
        height: 500px;
        width: 680px;
        display: block;
        margin-top: 150px;
        margin-left: 110px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #AutoButtonVermietung, #FahrradButtonVermietung {
        margin-top: 25px;
        display: block;
        background: rgb(255, 159, 63);
        margin-bottom: 65px;
        margin-left: 350px;
    }
    #MeldeAutoAnButton{
        margin-left: 850px;
        margin-top: -35px;
    }

}



/*-----------1200px-------*/
@media screen and (max-width: 1200px) {
    .AutobildVermietung, .FahrradbildVermietung {
        margin-left: 300px;
    }

    #FahrradButtonVermietung, #AutoButtonVermietung {
        margin-left: 500px;
    }
    .firstInput{
        margin-top: -13%;
    }

   /* .content h1 {
        font-size: 300%;
        margin: 0;
    }

    .content h2 {
        font-size: 300%;
        margin: 0;
    }*/

    .VermietungÜberschrift {
        font-size: 25px;
    }

    .TextPreisProTag {
        margin-left: 50px;
    }

    .agb_div p, .impressum_div p {
        margin-left: 18%;
        margin-right: 18%;
        font-size: 17px;
    }

    .agb_div h7, .impressum_div h3 {
        font-size: 27px;
    }

    .agb_content h6, .impressum_content h1 {
        font-size: 37px;
    }

    .col-4 {
        margin-left: 30%;
    }
    .lol{
        width: 30%;
        margin-left: 10%!important;
    }
    .regist{
        padding-top: 15%;
    }
    /*#googleMap1{
        width:200%;
        height:500px;
        margin-left: 60%;

    }*/
    .eigenschaft{
        font-size: 20px;
        padding-left: 0px;
        margin-top: 5%;
    }
    #googleMap{
        margin-top: 5%;
        width:200%;
        height:450px;
        margin-left: 20%;
    }
    #btMieten {
        margin-left: 0;
    }
    #kon{
        margin-left: 0;
        margin-top: 5%;
    }
    #AnsichtBetreff{
        margin-top: 7%;
        margin-left: -30%;
    }
    #areaKontakt{
        margin-top: 5%;
        margin-left: 45%;

    }
    #btAnliegen{
        margin-top: 20%;
        margin-left: 80%;
    }
    #MeldeAutoAnButton{
        margin-left: 480px;
        margin-top: -70px;
    }
    .bez> h1{
        margin-top: 8%;
        margin-bottom: 3%;
        font-size: 40px;
    }
    .fa{
        font-size: 40px!important;
    }
    .bub{
        margin-top: 0!important;
    }
}

/*-----------1050px-------*/
@media screen and (max-width: 1050px) {
    .AutobildVermietung, .FahrradbildVermietung {
        margin-left: 200px;
    }

    #FahrradButtonVermietung, #AutoButtonVermietung {
        margin-left: 410px;
    }

    .TextPreisProTag {
        margin-left: 35px;
    }

    .agb_div p, .impressum_div p {
        margin-left: 16%;
        margin-right: 16%;
        font-size: 15px;
    }

    .agb_div h7, .impressum_div h3 {
        font-size: 25px;
    }

    .agb_content h6, .impressum_content h1 {
        font-size: 35px;
    }

    #MeldeAutoAnButton{
        margin-left: 420px;
        margin-top: -70px;
    }
    .eigenschaft{
        font-size: 18px;
        padding-left: 5%;
        margin-top: 5%;
    }
    #googleMap{
        margin-top: 5%;
        width:150%;
        height:400px;
        margin-left: 30%;
    }

}
@media screen and (max-width: 1024px) {
    .firstInput{
        margin-top: -15%;
    }
    #logo{
        margin:0;
    }

}


/*-----------1000px-------*/
@media screen and (max-width: 1000px) {
    .col-md-7, .Autoseite, .Fahrradseite, .col-md-5 {
        display: block;
        margin: 1em 0em 1em 0em;
        text-align: center;
    }

   /* .content h1 {
        font-size: 250%;
        margin: 0;
    }

    .content h2 {
        font-size: 250%;
        margin: 0;
    }

    .content {
        padding-top: 100px;
    }*/

    .col-4 {

        margin-left: 25%;
    }

}

/*-----------990px-------*/
@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);

    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .TextBild {
        margin-left: 100px;
    }

    .TextVon {
        margin-right: -100px;
    }

    /*.content {
        padding-top: 220px !important;
    }*/
    .login{
        padding-top: 12%;
    }
    #agb{
        margin-left: 350px;
    }
    #inputBild{
        width: 300px;
    }
    .angabeStandort{
        margin-top:820px;
    }
    #MeldeAutoAnButton{
        margin-left: 5px;
        margin-top: -70px;
    }
    .angabeFahrrad{
        margin-top: -830px;
    }
    /*#googleMap1{
        margin-top: 1%;
        width:100%;
        height:400px;
        margin-left: 0;
    }*/

    .eigenschaft{
        font-size: 18px;
        margin-top: 5%;
        margin-left: 25%;
    }
    #googleMap{
        margin-top: 5%;
        width:100%;
        height:400px;
        margin-left: 0;
    }
    #btMieten {
        margin-left: 0;
    }
    #kon{
        margin-left: 0;
        margin-top: 3%;
    }
    #AnsichtBetreff{
        margin-top: 3%;
        margin-left: 0;
    }
    #areaKontakt{
        margin-top: 3%;
        margin-left: 0;
        margin-bottom: 0;

    }
    #btAnliegen{
        margin-top: 2%;
        margin-left: 0;
        margin-bottom: 2%;
    }
    .bez> h1{
        margin-top: 10%;
        margin-bottom: 3%;
        font-size: 30px;
    }
    .fa{
        font-size: 36px!important;
    }
    .rechnung{
        margin-left: 20%;
        padding: 2%;
        margin-top: 5%;
    }
    .rechnung > p{
        font-size: 18px;
        margin-top: 5%;
    }
    .rechnung > h1{
        font-size: 30px;
    }

    #btZahlen {
        font-size: 17px;
    }
    .change1{
        margin-top:50px;
    }
    .autoangabe{
        margin-bottom: -820px;
    }
    #Details2{
        margin-left:-25px;
    }
    .buttonUndTextstrasse{
        margin-top:50px;
        margin-bottom: -40px;
    }
}

/*-----------930px-------*/
@media screen and (max-width: 930px) {
    .AutobildVermietung, .FahrradbildVermietung {
        margin-left: 180px;
        height: 300px;
        width: 480px;
    }

    #FahrradButtonVermietung, #AutoButtonVermietung {
        margin-left: 350px;
    }
    .VermietungÜberschrift {
        font-size: 30px;
    }

    .TextBild {
        margin-left: 100px;
    }

    .TextVon {
        margin-right: -100px;
    }

    .TextPreisProTag {
        margin-left: 50px;
    }

    .col-4 {
        margin-left: 27%;
    }



}

/*-----------850px-------*/
@media screen and (max-width: 850px) {
   /* .content h1 {
        font-size: 200%;
        margin: 0;
    }
    .content h2 {
        font-size: 200%;
        margin: 0;
    }*/

    .col-4 {
        margin-left: 0;
    }

    #searchCity {
        font-size: 17px;
    }

    #buttonGPS, #buttonSearch {
        height: 90%;
    }
    #agb{
        margin-left: 290px;
    }
}

@media screen and (max-width: 833px){
    #buttonBild{
        margin-top: 6px;
    }
    #inputBild{
        margin-left:30px;
    }
}

/*-----------790px-------*/
@media screen and (max-width: 790px) {
    .AutobildVermietung, .FahrradbildVermietung {
        margin-left: 130px;
        height: 300px;
        width: 480px;
    }

    #FahrradButtonVermietung, #AutoButtonVermietung {
        margin-left: 300px;
    }

    .VermietungÜberschrift {
        font-size: 25px;
    }

    .TextBild {
        margin-left: 100px;
    }

    .TextVon {
        margin-right: -100px;
    }

    .TextPreisProTag {
        margin-left: 50px;
    }



    .agb_div p, .impressum_div p {
        margin-left: 14%;
        margin-right: 14%;
        font-size: 13px;
    }

    .agb_div h7, .impressum_div h3 {
        font-size: 23px;
    }

    .agb_content h6, .impressum_content h1 {
        font-size: 33px;
    }

    #searchCity, #datevon, #datebis {
        font-size: 17px;
    }

    #buttonGPS, #buttonSearch {
        font-size: 15px;
        min-height: 50%;
    }
    .lol{
        margin-left: 18%!important;
    }
    /*#googleMap1{
        margin-top: -2%;
        width:100%;
        height: 300px;
        margin-left: 1%;
    }*/
    .eigenschaft{
        font-size: 16px;
        margin-top: 3%;
        margin-left: 30%;
    }
    #googleMap{
        margin-top: 5%;
        width:80%;
        height: 300px;
        margin-left: 10%;
    }
    .rechnung{
        margin-top: 10%;
    }
    .rechnung > p{
        font-size: 16px;
        margin-top: 5%;
    }
    .rechnung > h1{
        font-size: 25px;
    }

    #btZahlen {
        font-size: 17px;
    }

}

@media screen and (max-width: 768px){
    .changePaddingWelcome{
        display: none;
    }

    #buttonBild{
        margin-top: 6px;
    }
    #inputBild {
        width: 220px;
        margin-left: 55px;
    }
    /*----allgemeineSuche----*/
    #liveSearch{
        width:97%;
    }

    .searchFilter{
        display: none;
        border: 2px solid;
        border-radius: 5px;
        width:100%;
        margin-left: 0px;
    }
    .searchResults{
        width: 100%;
        margin-right: 160px;
        margin-right: 0px;

    }
    i.glyphicon.glyphicon-calendar{
        padding-left: 30px;
    }
    .sortBtn{
        display: none;
    }

    .searchBtnPadding{
        display: none;
    }
    #searchBtnMobil, #sortBtnMobile{
        display:block;
    }
    .searchFilter{
        margin-bottom: 20px;
    }
    .firstInput{
        margin-top: -22%;

    }
   .firstInput>.img-responsive{
       margin: 0;
       padding:0;
       height: 30%;
       width: 40%;
   }
   .firstInput > h1{
       font-size: 30px;
   }

}
/*-----------720px-------*/
@media screen and (max-width: 720px) {
    .AutobildVermietung, .FahrradbildVermietung {
        margin-left: 130px;
        height: 230px;
        width: 380px;
    }

    #FahrradButtonVermietung, #AutoButtonVermietung {
        margin-left: 240px;
    }

    .VermietungÜberschrift {
        font-size: 24px;
    }

    .TextBild {
        margin-left: 100px;
    }

    .TextVon {
        margin-right: -100px;
    }

    .TextPreisProTag {
        margin-left: 50px;
    }

    #inputBild {
        width: 220px;
        margin-left: 55px;
    }

    .col-4 {
        margin-left: 24%;
    }

    #buttonGPS, #buttonSearch {
        font-size: 14px;
    }
    #agb{
        margin-left: 250px;
    }
}

/*-----------650px-------*/
@media screen and (max-width: 650px) {
    .FahrradÜberschrift, .AutoÜberschrift {
        text-align: center;
        font-size: 25px;
    }

    .col-md-7 {
        font-size: 15px;
    }

   /* .content h1 {
        font-size: 130%;
        margin: 0;
    }

    .content h2 {
        font-size: 130%;
        margin: 0;
    }*/

   /* .content {
        padding-top: 80px;
    }*/

    .login{
        padding-top: 15%!important;
    }
    .regist{
        padding-top: 18%;
    }
    #inputBild {
        width: 200px;
        margin-left: 60px;
    }
    #agb{
        margin-left: 200px;
    }
    .bez> h1{
        margin-top: 14%;
        font-size: 30px;
    }
    .fa{
        font-size: 29px!important;
    }
    #tableadmin{
        overflow-x:auto;
    }

}

/*-----------600px-------*/
@media screen and (max-width: 600px) {
    .AutobildVermietung, .FahrradbildVermietung {
        margin-left: 110px;
        height: 230px;
        width: 320px;
    }

    #FahrradButtonVermietung, #AutoButtonVermietung {
        margin-left: 190px;
    }

    .VermietungÜberschrift {
        font-size: large;
    }

    .TextBild {
        margin-left: 100px;
    }

    .TextVon {
        margin-right: -100px;
    }

    #inputBild {
        width: 170px;
        margin-left: 45px;
    }

    .agb_div p, .impressum_div p {
        margin-left: 12%;
        margin-right: 12%;
        font-size: 11px;
    }

    .agb_div h7, .impressum_div h3 {
        font-size: 21px;
    }

    .agb_content h6, .impressum_content h1 {
        font-size: 31px;
    }

    .col-4 {
        margin-left: 20%;
    }

    #buttonGPS, #buttonSearch {
        font-size: 12px;
    }

    #searchCity {
        font-size: 12px;
    }
    .lol{
        width: 50%;
        margin-left: 20%!important;
    }
    #agb{
        margin-left: 160px;
    }
    #googleMap1{
        margin-top: 5%;
        width:100%;
        height: 250px;
        margin-left: 1%;
    }
    .eigenschaft{
        font-size: 14px;
        margin-top: 3%;
        margin-left: 25%;
    }
    #googleMap{
        margin-top: 5%;
        width: 85%;
        height: 320px;
        margin-left: 7%;
    }

}

/*-----------480px-------*/
@media screen and (max-width: 480px) {
    .AutobildVermietung, .FahrradbildVermietung {
        margin-left: 70px;
        height: 180px;
        width: 280px;
    }

    #FahrradButtonVermietung, #AutoButtonVermietung {
        margin-left: 140px;
    }

    .TextBild {
        margin-left: 85px;
    }

    .TextVon {
        margin-right: -100px;
    }

    #inputBild {
        width: 150px;
        margin-left: 25px;
    }

    .agb_div p, .impressum_div p {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 9px;
    }

    .agb_div h7, .impressum_div h3 {
        font-size: 15px;
    }

    .agb_content h6, .impressum_content h1 {
        font-size: 25px;
    }

    .col-4 {
        margin-left: 22%;
        padding-bottom: 20%;
    }

    #buttonGPS, #buttonSearch {
        font-size: 10px;
    }

    #searchCity {
        font-size: 10px;
    }

   /* .content {
        padding-top: 30% !important;
    }*/

    .search {
        width: 100%;
        height: auto;
    }
    .lol{
        width: 70%;
        margin-left: 10%!important;

        margin-top: 5%!important;

    }
    .login{
        padding-top: 19%!important;
    }
    .regist{
        padding-top: 22%;
    }

    #MeldeAutoAnButton2{
        margin-left:-10px;
    }
    #agb{
        margin-left: 120px;
    }
    .detailsInput{
        width: 170px;
    }
    .inputDetails{
        margin-left: 60px;
    }

    /*#googleMap1{
        margin-top: -5%;
        width:100%;
        height: 250px;
        margin-left: 0;
    }*/
    .eigenschaft{
        font-size: 12px;
        margin-top: 3%;
        margin-left: 15%;
    }
    #googleMap{
        margin-top: 5%;
        width: 85%;
        height: 320px;
        margin-left: 0;
    }

    .bez> h1{
        margin-top: 17%;
        margin-bottom: 3%;
        font-size: 25px;
    }
    .fa{
        font-size: 29px!important;
    }
    .rechnung{
        margin-top: 15%;
    }
    .rechnung > p{
        font-size: 13px;
        margin-top: 5%;
    }
    .rechnung > h1{
        font-size: 25px;
    }

    #btZahlen {
        font-size: 17px;
    }
    #Details2{
        width:300px;
    }
}

/*-----------450px-------*/
@media screen and (max-width: 450px) {
    /*.content h1 {
        font-size: 80%;
        margin: 0;
    }

    .content h2 {
        font-size: 80%;
        margin: 0;
    }*/
    .detailsInput{
        width: 170px;
    }
    .inputDetails{
        margin-left: 40px;
    }

}

/*-----------400px-------*/
@media screen and (max-width: 400px) {
    .AutobildVermietung, .FahrradbildVermietung {
        margin-left: 60px;
        height: 140px;
        width: 230px;
    }

    #FahrradButtonVermietung, #AutoButtonVermietung {
        margin-left: 100px;
    }

    .TextBild {
        margin-left: 70px;
    }

    .TextVon {
        margin-right: -100px;
    }

    .TextPreisProTag {
        margin-left: 50px;
    }

    #inputBild {
        width: 110px;
        margin-left: 30px;
    }

    .agb_div p, .impressum_div p {
        margin-left: 9%;
        margin-right: 9%;
        font-size: 9px;
    }

    .agb_div h7, .impressum_div h3 {
        font-size: 12px;
    }

    .agb_content h6, .impressum_content h1 {
        font-size: 20px;
    }

    .col-4 {
        margin-left: 20%;
    }

    #buttonGPS, #buttonSearch {
        font-size: 8px;
    }

    #searchCity {
        font-size: 10px;
    }

    .search {
        width: 100%;
        height: auto;
    }
    #MeldeAutoAnButton2{
        margin-left:-45px;
    }

    #Zurueck2{
        margin-left:-35px;
    }
    .detailsInput{
        width: 160px;
    }
    .inputDetails{
        margin-left: 40px;
    }
    #Details2{
        width: 250px;
    }
}

/*-----------390px-------*/
@media screen and (max-width: 390px) {
    .button1 {
        margin-top: 0em;
        margin-left: 90px;
    }

    .button2 {
        margin-top: -2.5em;
        margin-left: 85px;
    }

    .FahrradBild, .AutoBild {
        height: 300px;
        width: 300px;
    }
    .regist{
        padding-top: 24%;
    }
    #inputBild {
        width: 100px;
        margin-left: 30px;
    }
    #agb{
        margin-left: 50px;
    }
    .detailsInput{
        width: 120px;
    }
    .inputDetails{
        margin-left: 54px;
    }
    .angabenAuto{
        text-align: center;
        font-size: 30px;
        margin-left: 20px;
    }
    .standortAuto{
        text-align: center;
        font-size: 25px;
    }
    /*#googleMap1{
        margin-top: 0;
        width:100%;
        height: 250px;
        margin-left: 1%;
    }*/
    .bez> h1{
        margin-top: 18%;
        font-size: 25px;
    }
    #Details2{
        width: 220px;

    }
    .firstInput>.img-responsive{
        margin: 4%;


    }

}

/*-----------320px-------*/
@media screen and (max-width: 320px) {
    .AutobildVermietung, .FahrradbildVermietung {
        margin-left: 15px;
        height: 130px;
        width: 220px;
    }

    #FahrradButtonVermietung, #AutoButtonVermietung {
        margin-left: 50px;
    }

    .TextBild {
        margin-left: 30px;
    }

    .TextVon {
        margin-right: -100px;
    }

    .TextPreisProTag {
        margin-left: 50px;
    }

    .preis{
        width: 110px;
        margin-left: -10px;
    }

    #inputBild {
        width: 100px;
        margin-left: 5px;
    }

    .agb_div p, .impressum_div p {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 8px;
    }

    .agb_div h7, .impressum_div h3 {
        font-size: 10px;
    }

    .agb_content h6, .impressum_content h1 {
        font-size: 15px;
    }

    .col-4 {
        margin-left: 15%;
    }

    #buttonGPS, #buttonSearch {
        font-size: 8px;
    }

    #searchCity {
        font-size: 9px;
        min-height: 80%;
    }

    .search {
        width: 100%;
        height: auto;
    }
    .login{
        padding-top: 30%!important;
    }
    .regist{
        padding-top: 30%;
    }
    .detailsInput{
        width: 120px;
    }
    .inputDetails{
        margin-left: 30px;
    }
    #agb{
        margin-left: 30px;
    }
    .bez> h1{
        margin-top: 22%;
        font-size: 25px;
    }
    #Details2{
        width: 200px;
        margin-left:-50px;
    }
}

/*-----------min 1200px-------*/
@media screen and  (min-width: 1200px) {
    .col-4 {
        margin-left: 10% !important;
    }
}

/*-----------390px - 992px-------*/
@media screen and (min-width: 390px) and (max-width: 992px) {
    .button1, .button2 {
        display: none;
    }
}



/*----------min 768px-----------*/
@media screen and (min-width: 768px){
    /*-----allgemeineSuche-----*/
    .changePadding{
        padding-right: 0px;
        padding-left:0px;
    }
    .changePaddingWelcome{
        padding-right: 0px;
        padding-left:0px;
        display: block;
    }
    .searchBtnPadding{
        padding-left: 0px;
        display: block;
    }
    .GpsPadding{
        padding-right: 0px;
    }
    .btnFilter{
        display: none;
    }
    .sortBtn{
        display: block;
        padding-left: 0px;
    }
    #liveSearch{
        width:95%;
    }
    .searchFilter{
        border: 1px solid;
        border-radius: 5px;
        width:20%;
        margin-left: 10%;
        margin-top: 20px;
        margin-bottom: 50px;
        float:left;
        display: block !important;
    }
    .searchResults{
        width: 57%;
        margin-right: 10%;
        margin-top: 0px;
        float:right;
    }
    .searchPadding{
        padding-right: 0px;
        z-index:1;
    }
    i.glyphicon.glyphicon-calendar{
        padding-left: 15px;
    }
    #searchBtnMobil, #sortBtnMobile{
        display: none;
    }
}

/*-----------768px - 992px-------*/
@media screen and (min-width: 768px) and (max-width: 992px){
    #buttonSortByAll{
        margin-right: 3px;
    }
    #buttonShowMe{
        left: 65px;
        padding-right: 20px;
    }
    #loadMore{
        font-size: 10px;
    }
    #loadMoreResult{
        font-size: 12px;
    }
}

/*-----------992px - 1199px-------*/
@media screen and (min-width: 992px) and (max-width: 1199px){
    #buttonSortByAll{
        margin-right: 40px;
    }
    #buttonShowMe{
        left: 65px;
        padding-right: 4px;
    }
}

@media screen and (min-width: 479px) and (max-width: 767px) {
     .searchPaddingWelcome{
         padding-left: 20%;
     }
}



/*-----------320px - 479px-------*/
@media screen and (min-width: 320px) and (max-width: 479px) {

    .searchResults_image{
        /*border: 2px solid;*/
        width: 100%;
    }

    .searchResults_image img {
        max-height: 200px;
        width:100%;
        object-fit: cover;
    }

    .searchResults_info{
        /* border: 2px solid;*/
        width:100%;
        padding-left: 5%;
        padding-bottom:5%;
    }

    .searchResults_info-inner{
        float: left;
        width: 60%;
    }
    .searchResults_priceContainer{
        float: right;
        width:33%;
        margin-right: 5%;
        margin-left:2%;
    }

    .searchResults_priceContainer h3{
        margin-bottom:5px;
    }

    .searchResults_priceContainer span{
        padding-left:11%;
    }
    .searchPaddingWelcome{
        padding-left: 10%;
    }
    #searchCity1{
        font-size: 13px;
    }
}


@media screen and (min-width: 320px) and (max-width: 576px) {
    .content{
        padding-top: 40%;
    }
    .content h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;

    }

    .content h2 {
        font-weight: 400;
        font-size: 16px;
    }

}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .content{
        padding-top: 35%;
    }
    .content h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 25px;

    }

    .content h2 {
        font-weight: 400;
        font-size: 18px;
    }

}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .content{
        padding-top: 30%;
    }
    .content h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;

    }

    .content h2 {
        font-weight: 400;
        font-size: 20px;
    }

}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .content{
        padding-top: 25%;
    }
    .content h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 40px;

    }

    .content h2 {
        font-weight: 400;
        font-size: 26px;
    }
}


/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .parallax{
        background-attachment: scroll;
    }
}

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .parallax{
        background-attachment: scroll;
    }
}

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .parallax{
        background-attachment: scroll;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    .parallax{
        background-attachment: scroll;
    }
}







