/*-----------Alles--------------*/
* {
    box-sizing: border-box;
}

/*-----------html, body--------------*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*-----------Body--------------*/
body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: rgb(219, 227, 243);
}

/*------------Footer-------------*/
.container-fluid2 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

/*-----------Startseite Schrift über Bild--------------*/
.content {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    padding-top: 150px;
    font-family: 'Roboto', sans-serif;
}

.content h1 {
    margin: 0;
    font-size: 350%;

}

.content h2 {
    margin: 0;
    font-size: 350%;
}

/*-----------Header/Footer--------------*/
.navbar {
    opacity: 0.8;
    background: #3c3c3c;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 10px 15px 15px 15px;
    margin-top: -10px;
    margin-left: -15px;

}

#brand-image {
    height: 60px;
    padding-bottom: 5px;
}

#brand-text {
    display: inline;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: 'Roboto Slab', serif;
}

.navbar-brand > img {
    display: inline;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: rgba(112, 173, 71, 1);
}

/*-----------Startseite Suchleiste--------------*/
.search {
    position: relative;
    background: url("../img/header2_new.jpg");
    height: 667px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#searchCity, #datevon, #datebis {
    font-size: 20px;
    font-family: Tahoma;
    max-width: 100%;
    width: 90%;
    padding-right: 0%;
    margin-left: 10%;
}

#buttonGPS, #buttonSearch, #buttonBis, #buttonVon {
    font-size: 15px;
    font-family: Tahoma;
    max-width: 100%;
    margin-left: 25%;
}

/*-----------Startseite Suchleiste weiter--------------*/
#buttonSearch {
    background-color: rgba(112, 173, 71, 1);
}

.col-4 {
    display: inline-flex;
    flex: 0 0 15%;
    margin: 0 auto;
    align-items: center;
    margin-left: 14%;
    margin-top: 5%;
}

/*-----------Startseite Bilder mit Text--------------*/
.AutoBild {
    margin-top: 15px;
    height: 360px;
    width: 530px;
    max-width: 100%;
}

.FahrradBild {
    height: 360px;
    width: 530px;
    max-width: 100%;
    margin-bottom: 50px;
    max-width: 100%;
}

.Autoseite {
    overflow-x: hidden;
}

.Fahrradseite {
    overflow-x: hidden;
}

.col-md-7 {
    margin-top: 80px;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
}

.AutoÜberschrift {
    font-size: 35px;
}

.FahrradÜberschrift {
    font-size: 35px;
}

.Fahrradtext {
    font-size: 17px;
}

.button1 {
    margin-left: 210px;
    margin-top: -70px;
    width: 130px;
    height: 50px;
    /*See for yourself*/
}

.button2 {
    margin-left: 200px;
    margin-top: -90px;
    width: 130px;
    height: 50px;
}

#AutoButton, #FahrradButton {
    background: rgb(255, 159, 63);
}

/*-----------Impressum Seite und AGB Seite--------------*/
.agb_content h6, .impressum_content h1 {
    margin-top: 70px;
    font-size: 40px;
}

.agb_content, .impressum_content {
    text-align: center;
}

.agb_div h7, .impressum_content h3 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center !important;
    letter-spacing: 0.05px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-decoration-line: underline;
}

.unterteil {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0%;
    margin-bottom: -2%;
}

.ImpressumTeilüberschrift1 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0%;
    margin-bottom: -2%;
    text-align: center !important;

}

.agb_div p, .impressum_div p {
    font-size: 20px;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
}

/*-----------Seite Vermietung--------------*/
.VermietungÜberschrift {
    text-align: center;
    margin-top: 90px;
    font-size: 30px;
    font-family: "Book Antiqua";
}

.FahrradbildVermietung, .AutobildVermietung, .img-responsive {
    height: 400px;
    width: 580px;
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#AutoButtonVermietung, #FahrradButtonVermietung {
    margin-top: 25px;
    display: block;
    background: rgb(255, 159, 63);
    margin-bottom: 65px;
    margin-left: 215px;
}

/*------Kontaktseite--------------*/
.red {
    color: red;
}

.modal-content {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}

/*-----------Seite EigenschaftAutovermietung--------------*/
.buttonUndText {
    margin-top: 100px;
    text-align: center;
}

.dropdown-menu {
    overflow-y: scroll;
}

.Text {
    font-size: 20px;
    /*  color:white;  */
}

.TextDetails {
    font-size: 20px;
}

.form-control {
    resize: none;
}

.form-group2 {
    resize: none;
    margin-left: 80px;
}

#MeldeAutoAn {
    background: rgb(255, 159, 63);
}

.Verschieben {
    margin-bottom: 30px;
}

.TextVon {
    margin-left: -110px;
    font-size: 20px;
}

.TextBild {
    margin-right: 100px;
    font-size: 20px;
}

.buttonUndTextFuerPreis {
    margin-top: 100px;
    text-align: center;
    margin-left: -30px;
    font-size: 20px;
}

.HintergrundBildAutoeigenshaft {
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
    width: 1349px;
    opacity: 0.8;
    -webkit-filter: blur(2px);
    filter:blur(2px);
}

#LinkAutoeigenschaft {
    text-decoration: none;
    color: inherit;
}

#buttonGPS1 {
    font-size: 15px;
    font-family: Tahoma;
    max-width: 100%;
    margin-left: -0.2%;
}

/*-----------Seite AnsichtAuto--------------*/
#myCarousel{
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
}
.carousel-inner > .item > img{
    position:relative;
    max-width: 100%;
    height: 500px !important;
    margin: auto;
    margin-top: 3.8%;
}
#datevon2, #datebis2{
    position: relative;
    max-width: 100%;
    width: 80%;
    margin: auto;
}
#buttonBis2, #buttonVon2{
    position: relative;
    max-width: 100%;
    margin: auto;
}
.lol{
    display: inline-flex;
    flex: 0 0 15%;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-top: 2% !important;
}
.full-screen {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*-----------Seite Login--------------*/
.login{
    padding-top: 12%;
    padding-bottom: 12.3%;
}

.regist{
    padding-top: 10%;
    padding-bottom: 10.2%;
}


