/*-----------Alles--------------*/
* {
    box-sizing: border-box;
}

/*-----------html, body--------------*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*-----------Body--------------*/
body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: rgb(224,224,224);
}

/*------------Footer-------------*/
.container-fluid2 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

/*-------Header-----------*/


/*.navbar-inverse .navbar-nav > li > a:hover{
    background-color: rgba(112, 173, 71, 1);
}
.navbar-inverse .navbar-nav > li > a .aktiv{
    background-color: rgba(112, 173, 71, 1);
}*/

.navbar-inverse .navbar-nav > li > a:focus{
    background-color: red;

}




/*-----------Startseite Schrift über Bild--------------*/
.content {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    padding-top: 20%;
    font-family: 'Roboto', sans-serif;
}

.content h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 55px;

}

.content h2 {
    font-weight: 400;
}

/*-----------Header/Footer--------------*/
.navbar {
    opacity: 0.8;
    background: #3c3c3c;
    margin-bottom: 0;
    clear: both;
}

.navbar-brand {
    padding: 10px 15px 15px 15px;
    margin-top: -10px;
    margin-left: -15px;

}

#brand-image {
    height: 60px;
    padding-bottom: 5px;
}

#brand-text {
    display: inline;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: 'Roboto Slab', serif;
}

.navbar-brand > img {
    display: inline;
}

.navbar-inverse .navbar-nav > .aktiv > a, .navbar-inverse .navbar-nav > .aktiv > a:focus, .navbar-inverse .navbar-nav > .aktiv > a:hover {
    color: #fff;
    background-color: rgba(112, 173, 71, 1);
}

/*-----------Startseite Suchleiste--------------*/

.parallax {
    position: relative;
    background: url("../img/headerNew.jpg");
    min-height: 100%;
    max-width: 100%;

    /*background-size: 100% 100%;*/

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#searchCity, #datevon, #datebis {
    font-size: 20px;
    font-family: Tahoma;
    max-width: 100%;
    width: 90%;
    padding-right: 0%;
    margin-left: 10%;
}

#buttonGPS, #buttonSearch, #buttonBis, #buttonVon {
    font-size: 15px;
    font-family: Tahoma;
    max-width: 100%;
    margin-left: 25%;
}

#buttonSearch {
    background-color: rgba(112, 173, 71, 1);
}
#searchBtnMobil{
    display: none;
    cursor: pointer;
}

.form-group>a{
    color: inherit;
}
#buttonSearch:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.col-4 {
    display: inline-flex;
    flex: 0 0 15%;
    margin: 0 auto;
    align-items: center;
    margin-left: 14%;
    margin-top: 5%;
}

/*-----------Startseite Bilder mit Text--------------*/
.AutoBild {
    margin-top: 15px;
    height: 360px;
    width: 530px;
    max-width: 100%;
}

.FahrradBild {
    height: 360px;
    width: 530px;
    max-width: 100%;
    margin-bottom: 50px;
    max-width: 100%;
}

.Autoseite {
    overflow-x: hidden;
    margin-top: 40px;
}

.Fahrradseite {
    overflow-x: hidden;
    margin-top: 70px;
}

.col-md-7 {
    margin-top: 80px;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    //left:40px;
}

.AutoÜberschrift {
    font-size: 35px;
}

.FahrradÜberschrift {
    font-size: 35px;
}

.Fahrradtext {
    font-size: 17px;
}
.button1>a{
    color: inherit;
}
.button2>a{
    color: inherit;
}
#AutoButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#FahrradButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1 {
    margin-left: 210px;
    margin-top: -70px;
    width: 130px;
    height: 50px;


}

.button2 {
    margin-left: 200px;
    margin-top: -90px;
    width: 130px;
    height: 50px;
}

#AutoButton, #FahrradButton {
    background: rgb(255, 159, 63);
}
/*-----------Startseite GoogleMaps--------------*/
#googleMap1{
    margin-top: 1%;
    width:100%;
    height:500px;

    padding: 0;
}

map{
    padding-left: 0px;
    padding-right: 0px;
}

/*-----------Impressum Seite und AGB Seite--------------*/
.agb_content h6, .impressum_content h1 {
    margin-top: 70px;
    font-size: 40px;
}

.agb_content, .impressum_content{
    text-align: center;
}

.agb_div h7, .impressum_content h3{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center !important;
    letter-spacing: 0.05px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-decoration-line: underline;
}

.unterteil {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0%;
    margin-bottom: -2%;
}

.ImpressumTeilüberschrift1{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0%;
    margin-bottom: -2%;
    text-align: center !important;

}

.agb_div p, .impressum_div p{
    font-size: 20px;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
}

/*-----------Seite Vermietung--------------*/
.VermietungÜberschrift {
    text-align: center;
    margin-top: 90px;
    font-size: 30px;
    font-family: "Book Antiqua";
}

.FahrradbildVermietung, .AutobildVermietung, .img-responsive {
    height: 400px;
    width: 580px;
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#AutoButtonVermietung, #FahrradButtonVermietung {
    margin-top: 25px;
    display: block;
    background: rgb(255, 159, 63);
    margin-bottom: 65px;
    margin-left: 215px;
}

/*------Kontaktseite--------------*/
.red {
    color: red;
}

.modal-content {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}

/*-----------Seite EigenschaftAutovermietung--------------*/
.buttonUndText {
    margin-top: 100px;
    text-align: center;
}

/*
.dropdown-menu {
    overflow-y: scroll;           //FÜR DIE DROPDOWN-LISTEN AUSKOMMENTIERT DAMIT ES NICHT SO HÄSSLICH DARSTELLT
}                                   //BEI FEHLERN HIER GUCKEN :-) MadeByMe
*/
.Text {
    font-size: 20px;
    /*  color:white;  */
}

.TextDetails {
    font-size: 20px;
}

#Detail, #Details2{
    resize: none;
}

#Details2{
    margin-bottom:30px;
}

.form-group2 {
    resize: none;
    margin-left: 80px;
}

#MeldeAutoAn, #MeldeAutoAnButton {
    background: rgb(255, 159, 63);
    text-decoration: none;
    color: inherit;

}

#MeldeAutoAnButton{
    margin-left: 550px;
    margin-top: -70px;
}

#MeldeAutoAn2, #MeldeAutoAnButton2 {
    background: rgb(255, 159, 63);
    text-decoration: none;
    color: inherit;
    margin-bottom:20px;
}

.Verschieben {
    margin-bottom: 30px;
}

.TextVon {
    margin-left: -110px;
    font-size: 20px;
}

.TextBild {
    margin-right: 100px;
    font-size: 20px;
}

.buttonUndTextFuerPreis {
    margin-top: 115px;
    text-align: center;
    margin-left: -60px;
    font-size: 20px;
}

#LinkAutoeigenschaft {
    text-decoration: none;
    color: inherit;
}

#buttonGPS1 {
    font-size: 15px;
    font-family: Tahoma;
    max-width: 100%;
    margin-left: -0.2%;
}

/*-----------Seite AnsichtAuto--------------*/
#myCarousel{

    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
}
.carousel-inner> .item{
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    background-color: #737373;
}


.carousel-inner > .item > img{
    position:relative;
    max-width: 100%;
    height: 500px !important;
    margin: auto;
    margin-top: 3.8%;
}

.lol{
    width: 40%;
    display: inline-flex;
    flex: 0 0 15%;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-top: 2% !important;
    margin-left: 10%;
}
.eigenschaft{
    font-family: Arial;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 6%;
    margin-top: 3%;
}
.eigenschaft > p{
    display: inline;
    margin-right: 3%;
}

#googleMap{
    margin-top: 5%;
    width:100%;
    height:450px;
    margin-left: -10%;
    padding: 0;
}
.btRent>a{
    color: inherit;
}

#btMieten {
    font-size: 18px;
    font-family: Arial;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    background: rgb(255, 159, 63);
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/
}
#btMieten:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#kon{
    font-size: 18px;
    font-family: Arial;
    padding: 0;
    margin-left: 10%;
    margin-top: 8%;
    margin-right: 0;
}
#AnsichtBetreff{
    font-family: Arial;
    font-size: 14px;
    margin-top: 5%;
    margin-left: -30%;
}
#areaKontakt{
    font-size: 14px;
    font-family: Arial;
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: 10%;
}
#btAnliegen{
    font-size: 14px;
    font-family: Arial;
    margin-top: 20%;
    margin-left: 10%;
    background: rgb(255, 159, 63);
}
#btAnliegen:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/*-----------Seite Login--------------*/
.login{
    padding-top: 12%;
}

.regist{
    padding-top: 10%;
}

.file{
    visibility: hidden;
    position: fixed;
}
/*---------allgemeine Suche-------------*/
#liveSearch{
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    position: absolute;
    width:95%;
    cursor: pointer;
}
#liveSearch li  {
    border: 1px solid #ddd;
    /*margin-top: -1px; /* Prevent double borders */
    background-color: #fff;
    padding: 8px;
    font-size: 14px;
    color: black;
    display: block;
}
#liveSearch li:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.searchPadding{
     padding-right: 0px;
     z-index:1;
 }
.searchPaddingWelcome{
    padding-right: 0px;
    z-index:1;
}
.searchBtnPaddingWelcome{
    padding-left: 0px;
}
.GpsPadding{
    padding-left:0px;
}

#searchCity1 {
    font-size: 18px;
    font-family: Tahoma;
    max-width: 100%;
    padding-right: 0px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#buttonGPS2 {
    font-size: 14px;
    font-family: Tahoma;
    max-width:100%;
    background:rgb(255, 159, 63);
    border-radius: 0;
}

#inputGpsBtn{
    left:1px;
}

.change2{
    margin-top:60px;
}


.angabeStandort2{
    margin-top: 20px;
}

#datebis1, #datevon1 {
    font-size: 18px;
    font-family: Tahoma;
    max-width: 100%;
    padding-right: 0px;
    border-radius: 0;
}

#buttonSearch1 {
    font-size: 14px;
    font-family: Tahoma;
    max-width: 100%;
    background-color: rgba(112, 173, 71, 1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /*margin-top: 15px;*/
}
#buttonSearchMobil{
    max-width: 100%;
    font-size: 14px;
    font-family: Tahoma;
    background-color: rgba(112, 173, 71, 1);
    border-radius: 5px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
}
#buttonFilter{
    font-size: 14px;
    font-family: Tahoma;
    max-width: 100%;
    background-color: rgb(255, 159, 63);
    border-radius: 5px;
    height: 40px;
}


.eingabefeld {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.InputWithIcon{
    position: relative;
}

.InputWithIcon i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 3px 15px;
    color: #aaa;

}

.InputWithIcon input[type=text]{
    padding-left: 40px;
}

#buttonSortByAll{
    padding-top: 20px;
    margin-right: 73px;
}

#buttonShowMe{
    bottom: 15px;
}

#buttonSortBy{
    right: 0px;
    left: 0px;
    bottom: 15px;
}
.myBtnContainer {
    float:right;
}

.myBtnContainer .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background: rgb(255, 159, 63);
    cursor: pointer;
    font-size: 12px;
}

.myBtnContainerMobil .btn{
    border: none;
    outline: none;
    padding: 12px 16px;
    background: rgb(255, 159, 63);
    cursor: pointer;
    font-size: 12px;
}
#buttonSortByAll .active{
    background-color: rgba(112, 173, 71, 1);
    z-index: 1;
}

#buttonSortByAll .btn:hover, .active {
    background-color: rgba(112, 173, 71, 1);
}
#buttonSortByAllMobil{
    text-align: center;
    margin-bottom: 10px;
}

#buttonSortByAllMobil .ac{
    background-color: rgba(112, 173, 71, 1);
    z-index: 1;
}

#buttonSortByAllMobil .btn:hover, .ac {
    background-color: rgba(112, 173, 71, 1);
}
#slidecontainer {
    width: 90%;
}

#slider-range{
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


span.ui-slider-handle.ui-corner-all.ui-state-default{
    cursor: pointer;
    border-radius:50%;
    background-color: rgba(112, 173, 71, 1);
}
div.ui-slider-range.ui-corner-all.ui-widget-header{
    background-color: rgba(112, 173, 71, 1);
}

#amount{
    width: 100%;
    border:0;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.searchResultsWrapper:after{
    clear:both;
    content:"";
    display: block;
}

.searchFilter{
    border: 1px solid;
    border-radius: 5px;
    width:20%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 50px;
    float:left;
    display: block;
}

.searchFilter_block{
    background-color: #fff;
}


h5 {
    margin-top: 0px;
    padding-top: 10px;
}

.searchFilter_filter-title{
    border-bottom: 2px solid;
    text-align: center;
    padding-bottom: 8px;
}
.searchFilter_filter-content{
    border-bottom: 2px solid;
    padding: 10px;
}
.lastFilterContent{
    border-bottom: 1px solid;
}
.lastFilterContentMobil{
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.searchFilter_filter-content .headerLine{
    margin-top: 0px;
    margin-bottom: 5px;
    border-color: black;
    width: 30%;
}
.searchFilter_filter-content ul {
    list-style: none;
}
.searchFilter_filter-content ul li {
    list-style: none;
}

.searchFilter_filter-content .showMore{
    display:none;
}

.searchFilter_filter-content ul li a{
    color: black;
    cursor: pointer;
}
.searchFilter_filter-content ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.searchFilter_filter-content p {
    padding-top: 10px;
}

.searchFilter_filter-content .form-control {
    width: 50%;
    margin: auto;
}

#loadMore{
    width:70%;
    font-size: 14px;
    font-family: Tahoma;
    margin: auto;
    background-color: rgba(112, 173, 71, 1);
    border-radius: 5px;
    margin-bottom: 10px;
}
#loadMoreResults{
    width: 200px;
    font-size: 14px;
    font-family: Tahoma;
    margin: auto;
    background-color: rgba(112, 173, 71, 1);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.searchResults{
    width: 57%;
    margin-right: 10%;
    float:right;
}

.searchResults_block > :last-child .searchResults_result {
    margin-bottom: 20px;
}

.searchResults_block:after{
    clear:both;
    content:"";
    display: block;
}
.searchResults_block a{
    color:black;
}
.searchResults_block .showMoreResults{
    display: none;
}
.searchResults_result:hover{
    border-color: rgba(112, 173, 71, 1);
}

.searchResults_result{
    border: 1px solid;
    background-color: #fff;
    margin-top: 20px;
}

.searchResults_result:after{
    clear:both;
    content:"";
    display: block;
}
.searchResults_image{
    /*border: 2px solid;*/
    width: 40%;
    float:left;
}

.searchResults_image img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.searchResults_info{
    float: right;
    width:55%;
    margin-left: 5%;
}
.searchResults_info h3{
    font-size:19px;

}

.searchResults_info-inner{
    float: left;
    width: 60%;
}
.searchResults_info-inner p{
    margin-bottom: 0px;
}

.searchResults_priceContainer{
    float: right;
    width:33%;
    margin-right: 5%;
    margin-left:1%;
}

.searchResults_priceContainer h3{
    margin-bottom:5px;
}

.searchResults_priceContainer span{
    padding-left:10%;
}




/*---------------------------------*/
.file{
    visibility: hidden;
    position: fixed;
}

#inputBild{
    width: 190px;

}

.TextPreisProTag{
    margin-top: -14px;
}

.TextBis{
    margin-top:-20px;
    margin-left: -100px;
    font-size: 20px;
}

.verschieben2{
    margin-top: -12px;
}

#buttonBild2{
    margin-left: 10px;
}

#Zurueck, #Zurueck2{
    background: rgb(255, 60, 60);       /*background: rgb(0, 153, 204); */
    text-decoration: none;
    color: inherit;
}

#agb{
    margin-left:100px;
    margin-top: 50px;
}


/* layout.css Style */
.upload-drop-zone {
    height: 150px;
    border-width: 2px;
    margin-bottom: 20px;
    width:400px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: black;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}



.upload-area{
    width: 70%;
    height: 200px;
    border: 2px solid lightgray;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;

}

.upload-area:hover{
    cursor: pointer;
}

.upload-area h1{
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 50px;
    color: darkslategray;
}

#file{
    display: none;
}

/* Thumbnail */
.thumbnail{
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 2px solid lightgray;
    border-radius: 3px;
    float: left;
}

.size{
    font-size:12px;
}

.input-group preis{
    margin-top:30px;
}

#Details{
    margin-left:-40px;
    resize: none;
}

.inputDetails{
    margin-bottom: 30px;
}

.buttonUndTextOrt, .buttonUndTextPostleitzahl, .buttonUndTextstrasse{
    text-align: center;
}

.angabenAuto{
    margin-top:100px;
    margin-left: 30px;
    font-family: "sans-serif";
}

.autoangabe{
    margin-bottom:-450px;
}

.angabeStandort{
    margin-top:450px;
}

.speichern{
    margin-top: 100px;
}
.daten2{
    font-family: "Arial";
    font-size: 20px;
    text-align: center;
}

#buttonFahrradWeiter{
    color:inherit;
    text-decoration: none;
}

.angabeFahrrad{
    margin-top: -450px;
}

#detail{
    resize: none;
}

/*---------Bezahlen-------------*/
.bez> h1{
    margin-top: 8%;
    font-size: 48px;
}
.fa{
    font-size: 50px!important;
    color: #5e5d5d;
}
.zahlen{
    margin-left: 5%;

}
.bub{
    margin-top: 2.3%!important;
}
.rechnung > hr{
    border-color: #5e5e5e;
}
.rechnung{
    margin-left: 40%;
    border: 1px solid;
    padding: 2%;
    margin-top: 3%;
}
.rechnung > p{
    font-size: 20px;
    margin-top: 5%;
}

#btZahlen{
    float: right;
    font-size: 20px;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
    background: rgb(255, 159, 63);
}
#btZahlen:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#adminrechte {
   border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;"
}

#tableadmin{
    background-color: #f2f2f2
}

#overbox3 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(64, 64, 64, 0.5);
    z-index: 999999;
    display: none;
}

#infobox3 {
    margin: auto;
    position: absolute;
    left: 35%;
    top: 20%;
    height: 300px;
    width: 400px;
    background-color: white;
    border: 1px solid red;
}


.hide--first > *:first-child {
    display: none;
}
.hide--second > *:last-child {
    display: none;
}

.message {
    position: relative
}

.close {
    color: #f00;
    position: absolute;
    text-transform: lowercase;
    right: 20px;
    font-size: 1.5em;
    top: 10px;
    line-height: 1;
    border: none !important;
}

/*---ÜberUns---*/
.counter {
    display: table-cell;
    margin:1.5%;
    font-size:50px;
    background-color: #FF6F6F;
    width:200px;
    border-radius: 50%;
    height:200px;
    vertical-align: middle;
}


.stat {
    margin:150px auto;
    text-align:center;
}
.highlight {
    color:#111;
    padding:20px 0;
    font-weight:bold;
    display:block;
    overflow:hidden;
    margin-bottom:0;
    font-size:48px;
}
.stat i {
    color:#f7c221;
}
.milestone-details {
    font-weight: bold;
    font-size: 18px;
    color: #999;
}


.bg-1 {
    /*background-color: #1abc9c; /* Green */
    color: #ffffff;
    text-align: center;
}
.bg-1>h1{
    margin-top: 5%;
    color: white;
    background-color: #737373;
    opacity: 0.8;
}
#logo{
    width: 35%;
    height: 60%;
}
.bg-2 {
    text-align: center;
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}