/*-----------Alles--------------*/
* {
    box-sizing: border-box;
}

/*-----------html, body--------------*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*-----------Body--------------*/
body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: rgb(219, 227, 243);
}

/*------------Footer-------------*/
.container-fluid2 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

/*-----------Startseite Schrift über Bild--------------*/
.content {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    padding-top: 150px;
    font-family: 'Roboto', sans-serif;
}

.content h1 {
    margin: 0;
    font-size: 350%;

}

.content h2 {
    margin: 0;
    font-size: 350%;
}

/*-----------Header/Footer--------------*/
.navbar {
    opacity: 0.8;
    background: #3c3c3c;
    margin-bottom: 0;
    clear: both;
}

.navbar-brand {
    padding: 10px 15px 15px 15px;
    margin-top: -10px;
    margin-left: -15px;

}

#brand-image {
    height: 60px;
    padding-bottom: 5px;
}

#brand-text {
    display: inline;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: 'Roboto Slab', serif;
}

.navbar-brand > img {
    display: inline;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: rgba(112, 173, 71, 1);
}

/*-----------Startseite Suchleiste--------------*/
.search {
    position: relative;
    background: url("../img/header2_new.jpg");
    height: 667px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#searchCity, #datevon, #datebis {
    font-size: 20px;
    font-family: Tahoma;
    max-width: 100%;
    width: 90%;
    padding-right: 0%;
    margin-left: 10%;
}

#buttonGPS, #buttonSearch, #buttonBis, #buttonVon {
    font-size: 15px;
    font-family: Tahoma;
    max-width: 100%;
    margin-left: 25%;
}

#buttonSearch {
    background-color: rgba(112, 173, 71, 1);
}

.form-group>a{
    color: inherit;
}
#buttonSearch:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.col-4 {
    display: inline-flex;
    flex: 0 0 15%;
    margin: 0 auto;
    align-items: center;
    margin-left: 14%;
    margin-top: 5%;
}

/*-----------Startseite Bilder mit Text--------------*/
.AutoBild {
    margin-top: 15px;
    height: 360px;
    width: 530px;
    max-width: 100%;
}

.FahrradBild {
    height: 360px;
    width: 530px;
    max-width: 100%;
    margin-bottom: 50px;
    max-width: 100%;
}

.Autoseite {
    overflow-x: hidden;
}

.Fahrradseite {
    overflow-x: hidden;
}

.col-md-7 {
    margin-top: 80px;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
}

.AutoÜberschrift {
    font-size: 35px;
}

.FahrradÜberschrift {
    font-size: 35px;
}

.Fahrradtext {
    font-size: 17px;
}
.button1>a{
    color: inherit;
}
#AutoButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#AutoBild:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1 {
    margin-left: 210px;
    margin-top: -70px;
    width: 130px;
    height: 50px;


}

.button2 {
    margin-left: 200px;
    margin-top: -90px;
    width: 130px;
    height: 50px;
}

#AutoButton, #FahrradButton {
    background: rgb(255, 159, 63);
}

/*-----------Impressum Seite und AGB Seite--------------*/
.agb_content h6, .impressum_content h1 {
    margin-top: 70px;
    font-size: 40px;
}

.agb_content, .impressum_content {
    text-align: center;
}

.agb_div h7, .impressum_content h3 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center !important;
    letter-spacing: 0.05px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-decoration-line: underline;
}

.unterteil {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0%;
    margin-bottom: -2%;
}

.ImpressumTeilüberschrift1 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0%;
    margin-bottom: -2%;
    text-align: center !important;

}

.agb_div p, .impressum_div p {
    font-size: 20px;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
}

/*-----------Seite Vermietung--------------*/
.VermietungÜberschrift {
    text-align: center;
    margin-top: 90px;
    font-size: 30px;
    font-family: "Book Antiqua";
}

.FahrradbildVermietung, .AutobildVermietung, .img-responsive {
    height: 400px;
    width: 580px;
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#AutoButtonVermietung, #FahrradButtonVermietung {
    margin-top: 25px;
    display: block;
    background: rgb(255, 159, 63);
    margin-bottom: 65px;
    margin-left: 215px;
}

/*------Kontaktseite--------------*/
.red {
    color: red;
}

.modal-content {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}

/*-----------Seite EigenschaftAutovermietung--------------*/
.buttonUndText {
    margin-top: 100px;
    text-align: center;
}

.dropdown-menu {
    overflow-y: scroll;
}

.Text {
    font-size: 20px;
    /*  color:white;  */
}

.TextDetails {
    font-size: 20px;
}

#Details, #Details2{
    resize: none;
}

.form-group2 {
    resize: none;
    margin-left: 80px;
}

#MeldeAutoAn, #MeldeAutoAnButton {
    background: rgb(255, 159, 63);
    text-decoration: none;
    color: inherit;
}

#MeldeAutoAn2, #MeldeAutoAnButton2 {
    background: rgb(255, 159, 63);
    text-decoration: none;
    color: inherit;
    margin-bottom:20px;
}

.Verschieben {
    margin-bottom: 30px;
}

.TextVon {
    margin-left: -110px;
    font-size: 20px;
}

.TextBild {
    margin-right: 100px;
    font-size: 20px;
}

.buttonUndTextFuerPreis {
    margin-top: 100px;
    text-align: center;
    margin-left: -30px;
    font-size: 20px;
}

#LinkAutoeigenschaft {
    text-decoration: none;
    color: inherit;
}

#buttonGPS1 {
    font-size: 15px;
    font-family: Tahoma;
    max-width: 100%;
    margin-left: -0.2%;
}

/*-----------Seite AnsichtAuto--------------*/
#myCarousel{
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
}
.carousel-inner > .item > img{
    position:relative;
    max-width: 100%;
    height: 500px !important;
    margin: auto;
    margin-top: 3.8%;
}
#datevon2, #datebis2{
    position: relative;
    max-width: 100%;
    width: 80%;
    margin: auto;
}
#buttonBis2, #buttonVon2{
    position: relative;
    max-width: 100%;
    margin: auto;
}
.lol{
    display: inline-flex;
    flex: 0 0 15%;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-top: 2% !important;
}
.eigenschaft{
    font-family: Arial;
    font-size: 20px;
    margin-left: 5%;
}
#googleMap{
    margin-top: 5%;
    width:100%;
    height:350px;
    margin-left: 0;
    padding: 0;
}
#googleMap1{
    margin-top: 20%;
    width:100%;
    height:500px;
    margin-left: 50%;
    padding: 0;
}

/*-----------Seite Login--------------*/
.login{
    padding-top: 12%;
    padding-bottom: 12.3%;
}

.regist{
    padding-top: 10%;
    padding-bottom: 10.2%;
}

.file{
    visibility: hidden;
    position: fixed;
}
/*---------allgemeine Suche-------------*/
/*.search2 {
    position: relative;
    background: url("../img/car1.jpg");
    height: 667px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 90%;
}*/
.eingabefeld {
   margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.InputWithIcon{
    position: relative;
}

.InputWithIcon i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 3px 40px;
    color: #aaa;

}

.InputWithIcon input[type=text]{
    padding-left: 40px;
}
.myBtnContainer {
    float:right;
}

.myBtnContainer .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background: rgb(255, 159, 63);
    cursor: pointer;
}

.myBtnContainer .btn:hover, .active {
    background-color: #ccc;
}
#slidecontainer {
    width: 90%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.searchFilter{
    border: 2px solid;
    border-radius: 5px;
    width:30%;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.searchFilter_block{
    background-color: whitesmoke;
}


h5 {
    margin-top: 0px;
    padding-top: 10px;
}

.searchFilter_filter-title{
    border-bottom: 2px solid;
    text-align: center;
    padding-bottom: 8px;
}
.searchFilter_filter-content{
    border-bottom: 2px solid;
    padding: 10px;
}

.searchFilter_filter-content p {
    padding-top: 10px;
}

.searchFilter_filter-content .form-control {
    width: 50%;
    margin: auto;
}

.searchFilter{
    float:left;
}

.searchResults{
    border: 2px solid;
    width: 45%;
    margin-right: 425px;
    margin-top: 50px;
    margin-bottom: 50px;
    float:right;
    background-color: whitesmoke;
}

/*.searchResults .searchResults_result{

}*/
.searchResults .searchResults_image{
    border: 2px solid;
    width: 400px;
    height: 250px;
    float:left;
}

.searchResults .searchResults_info{
    border: 2px solid;
    float:right;
    margin-right: 300px;
}

.searchResults .searchResults_info .searchResults_info-inner{
     float: left;
 }

.searchResults .searchResults_info .searchResults_priceContainer{
    float: right;
}




/*---------------------------------*/
.file{
    visibility: hidden;
    position: fixed;
}

#inputBild{
    width: 190px;

}

.TextPreisProTag{
    margin-top: -14px;
}

.TextBis{
    margin-top:-20px;
    margin-left: -100px;
    font-size: 20px;
}

.verschieben2{
    margin-top: -12px;
}

#buttonBild2{
    margin-left: 10px;
}

#Zurueck, #Zurueck2{
    background: rgb(255, 60, 60);       /*background: rgb(0, 153, 204); */
    text-decoration: none;
    color: inherit;
}

.AGBFeld{
    margin-left: 100px;
    margin-top: 50px;
}

